body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: gainsboro;
}
nav {
    background-color: #006eff; /* Cor de fundo da barra de navegação */
    box-shadow: 0px 0px 20px;
    height: 85px;
    display: flex; /* Use flexbox para centralizar horizontalmente */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza verticalmente os elementos da barra de navegação */
}
.logo1 {
    position: absolute;
    height: 200px;
    left: 50px;
    width: auto;
}
ul {
    list-style-type: none; /* Remove marcadores de lista */
    padding: 0; /* Remove o preenchimento padrão das listas */
    display: flex; /* Use flexbox para alinhar os itens da lista horizontalmente */
}
li {
    text-align: center; /* Centraliza o texto horizontalmente */
    margin-right: 20px; /* Espaçamento entre os itens */
}
a {
    text-decoration: none;
    color: #fff; /* Cor do texto dos links */
    transition: color 0.3s, font-size 0.3s; /* Adiciona uma transição suave de 0.3 segundos para a propriedade de cor */
}
hover {
    font-size: 90%;
    color: #c0c0c0; 
}
.container1 {
    position: relative;
    width: 50%;
    height: 100vh; /* Define a altura do contêiner igual à altura da janela de visualização */
    box-shadow: 0 0 10px ; /* Aumenta o tamanho da sombra */
    box-sizing: content-box;
    background-color: #479dff;  
    z-index: -1;
}

a:hover {
    font-size: 90%;
    color: #c0c0c0;
}

#video-loop {
    position: relative;
    top: -700px;
    left: 30px;
    width: 45%;
    height: auto;
    box-shadow: 0px 0px 8px;
    border-radius: 2%;
}
.content1 {
    position: absolute;
    top: 70%;
    left: 60%; /* Ajuste conforme necessário para a largura da coluna de texto */
    width: 35%; /* Ajuste conforme necessário para a largura da coluna de texto */
    top: 500px;
}
.introducao {
    position: relative;
    top: -250px;
    left: 150px;
    font-size: 24px; /* Tamanho da fonte do título */
    
}
.p1, .p2 {
    position: relative;
    top: -220px;
    margin-top: 50px; /* Espaçamento entre os parágrafos */
}
.info{
    position: absolute;
    top: 920px;
    left: 230px; 
    font-size: 20px;
}
.ponto-turistico:hover {
    width: 44%;
}
/* Estilo para o rodapé */
footer {
    background-color: #006eff; /* Cor de fundo do rodapé */
    box-shadow: 0px 0px 20px;
}
/* Estilo para o container do rodapé */
.rodape-container {
    max-width: 1200px; /* Largura máxima do container do rodapé */
    display: flex;
    align-items: center;
}
/* Estilo para o logotipo no rodapé */
.rodape-logo img {
    position: relative;
    width: 250px; /* Largura do logotipo */
    height: auto;
    left: 100%;
}
/* Estilo para o texto no rodapé */
.rodape-texto p {
    color: #fff;
    position: relative;
    left: 50%;
    font-size: 20px; /* Tamanho da fonte do texto no rodapé */
}
.nav_inicio{
    cursor: pointer;
    background-color: #006eff;
}
.info{
    margin-top: 50px;
    margin-left: 500px;
}
.data{
    margin-left: 300px;
    
}
.calendario{
    padding: 100px;
    border: #fff;
    background-color: #fff;  
    margin-top: -88px;
    border: none;
    background-color: transparent;
    box-shadow: none;
    padding-right: 10px;
}
.noticias{
    margin-top: 300px !important;
    margin-left: 800px
}
.noticias_foto{
    padding: 100px;
    border: #fff;
    background-color: #fff;  
    margin-top: -88px;
    border: none;
    background-color: transparent;
    box-shadow: none;
    margin-left: 605px;
    padding: 130px;
}


